body {
  cursor: none !important; /* Hide the default cursor */
}

.custom-cursor {
  border-radius: 50%;
  border: 2px solid #e84462;
  padding: 10px;
  position: absolute;
  pointer-events: none; /* Prevent cursor from triggering events */
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.1s ease, background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it is above other elements */
}

.custom-cursor::after {
  content: '';
  width: 5px; /* Adjust size as needed */
  height: 5px; /* Adjust size as needed */
  background-color: #e84462;
  border-radius: 50%;
  transition: transform 0.1s ease;
}

.custom-cursor.hover {
  transform: translate(-50%, -50%) scale(1.5);
}

.custom-cursor.hover::after {
  transform: scale(1.5);
}